<h1>{{ title }}</h1>
<div class="btn-group">
  <button (click)="sortBy('name')">Sort By Name</button>
  <button (click)="sortBy('username')">Sort By uerename</button>
  <button (click)="sortBy('id')">Sort By Id</button>
  <button (click)="sortBy('email')">Sort By email</button>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tr *ngFor="let item of data">
    <td>
      {{ item.id }}
    </td>
    <td>
      {{ item.name }}
    </td>
    <td>
      {{ item.username }}
    </td>
    <td>
      {{ item.email }}
    </td>
  </tr>
</table>
