/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
  }
  table {
    border-collapse: collapse;
  }
  td,
  th {
    padding: 10px;
    border: 1px solid #83308b;
  }
  th{
    color: #83308b;
  }
  .btn-group {
    margin: 20px 0;
  }
  
  .btn-group button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #83308b;
    border: 0;
    margin-right: 10px;
    color: white;
    cursor: pointer;
  }
  